header
{
    background: green;
    height: 50px;
}

thead {
    overflow: auto;
}

.row
{
    height: 100%;
    display: table-row;
}


.details{
    float:  right;
    height: 300px;
    overflow: auto;
}

.buildFileDependencies{
    height: 300px;
    overflow: auto;
    text-align: top
}
tbody.buildFileDependencies{
    vertical-align:top;
}

.buildFileTransitives{
    height: 300px;
    overflow: auto;
}
.quadrant{
    height: 50%;
    width: 50%;
    vertical-align: top;
    overflow: auto;
    border: groove;
}

th{
    text-align:center;
}

td {
    text-align: top
    vertical-align:top;
}
